# All values are undefined by default
# Values represented here are the defaults that are used when these environment variables are not found

VITE_WEBSOCKET_URL=wss://view.quad9.net/websocket/5000
VITE_COUNTRIES_GEOJSON_URL=assets/data/countries.geojson
VITE_COUNTRIES_STATES_GEOJSON_URL=assets/data/states
VITE_GLOBE_MAP_URL_DARK=assets/img/earth-night.jpg
VITE_GLOBE_MAP_URL_LIGHT=assets/img/earth-day.jpg
VITE_GLOBE_BUMP_MAP_URL=assets/img/earth-topology.jpg
VITE_AUTORECONNECT_INTERVAL_MS=5000
VITE_DATA_DOWNLOAD_URL=https://view.quad9.net/assets/data/pops.json
VITE_DATA_DOWNLOAD_INTERVAL_MS=600000
# VITE_RELOAD_INTERVAL_MS=600000 # This is undefined by default, if it is defined, page will reload automatically in this interval
VITE_DEFAULT_COUNTERS_TITLE="Malicious Lookups Blocked"
VITE_DEFAULT_COUNTERS_LABEL=Events
VITE_SHOW_APP_VERSION=false
VITE_APP_VERSION=dev-build.timestamp
VITE_APP_INFO_DIALOG_CONTENTS="Quad9 Globe of Wonder info"
VITE_KEY_INFO_DIALOG_CONTENTS="Quad9 aggregation info"
VITE_DEMO_MODE=false
